<div id="left" class="box">
  left: <span id="left-vote">0</span>
</div>
<div id="right" class="box">
  right: <span id="right-vote">0</span>
</div>

<form>
  <input id="msg" type="text"></input>
  <button type="submit">send</button>
</form>

<ul id="chatroom">
</ul>
