<head>
  <title>Voting App</title>

  <script src="javascript/clientjs.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascript/main.js" type="text/javascript"></script>
</head>
<body>

<div class="container-fluid full">

  <div class="jumbotron text-center">
    <img id="logo" src="img/logo.png" style="width:500px;"/>
    <h2>Click the buzzer to vote for your favourite acts during the live episodes</h2>
    <h3>Current total votes is: <span id="counter"></span></h3>
  </div>

  <img id="bkg" src="img/bkg.jpg"/>


  <div class="row">
    <div class="col-sm-6">
        <img id="buzz" src="img/buzz.png"/>
    </div>

    <div class="col-sm-6">
      <div id="tweet-box">
      <h3>Twitter Highlights</h3>
      </div>
    </div>

  </div>
</div>

</body>
</html>
